<div class="container main">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Define Daily Expense</div>
      <div class="panel-body">
        <form [formGroup]="expenseFG" (ngSubmit)="onExpenseAdded(expenseFG.value)">
          <div class="form-group">
            <label>Amount</label>
            <input class="form-control" formControlName="amount">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" formControlName="title">
          </div>
          <div class="form-group">
            <label>Expense Category</label>
            <select class="form-control" formControlName="expenseCategoryId">
              <option disabled [selected]="!expense">Select Parent Category ...</option>
              <option *ngFor="let category of availableExpensesCategories" [selected]="expense && expense.expenseCategoryId == category._id"><a href="#">{{category.title}}</a></option>
            </select>
          </div>
          <div class="form-group">
            <label>Expense Date</label>
            <input type="date" class="form-control date" formControlName="expenseStartDate" [ngModel] ="currentDate | date:'yyyy-MM-dd'">
          </div>
          <div class="form-group">
            <label>Is Periodic</label>
            <input type="checkbox" class="form-control" #isPeriodic formControlName="isPeriodic">
          </div>
          <div class="clearfix"></div>
          <div class="form-group" *ngIf="isPeriodic && isPeriodic.checked">
            <label>Period Type</label>
            <select class="form-control" formControlName="periodType">
              <option disabled [selected]="!expense || !expense.interval">Select Category interval ...</option>
              <option *ngFor="let type of expensePeriodsLOV" [selected]="expense && ExpensePeriod[expense.interval] == type">{{type}}</option>
            </select>
          </div>
          <!--<button type="submit" class="btn btn-default pull-right" [disabled]="!dailyExpense.valid">Submit</button>-->
          <app-form-footer (onCancel)="onCancel.emit()"></app-form-footer>
        </form>
      </div>
    </div>
  </div>
</div>