<div *ngIf="!expenses || expenses.length == 0">
  <h2 class="noDataMSG">No Expenses Data Added</h2>
</div>
<div class="container-fluid main" *ngIf="expenses && expenses.length"> 
  <div class="row">
    <div class="col-sm-4 dashboard flex-center-vertically">
      <span>
        <dt>Total Month Expense</dt>
        <dd>{{currentMonthTotalExp}} JOD</dd>
      </span>
    </div>
    <div class="col-sm-4 dashboard flex-center-vertically">
      <span>
        <dt>Month with The Highest Expense</dt>
        <dd>{{monthWithTheHighestExp}}</dd>
      </span>
    </div>
    <div class="col-sm-4 dashboard flex-center-vertically">
      <span>
        <dt>The Highest Expense Category</dt>
        <dd>{{expCategoryWithTheHighestExp}}</dd>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 dashboard">

    </div>
    <div class="col-sm-4 dashboard">

    </div>
    <div class="col-sm-4 dashboard">
    </div>
  </div>    
</div>
